{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">
        {% if results %}
        <table>
            {% for el in ihst %}
            <tr>
                <th>{{ el.id }}</th>
                <td>{{ el.name }}</td>
                <td>{{ el.result }}</td>
            {% endfor %}
            </tr>
        </table>
        {% else %}
            <p>Nothing to show</p>
        {% endif %}
</div>

{% endblock %}
